@import url("https://fonts.googleapis.com/css?family=Assistant:100,300,400,500,700");
@import url("https://fonts.googleapis.com/css?family=Lato:100,400");
#container {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -1; }

p {
  font-size: 1.2rem; }

h1 {
  font-size: 3.16rem;
  margin-bottom: calc(3.16rem/1); }

h2 {
  font-size: 2.37rem;
  margin-bottom: calc(2.37rem/1); }

h3 {
  font-size: 1.78rem;
  margin-bottom: calc(1.78rem/1); }

h4 {
  font-size: 1.33rem;
  margin: calc(1.33rem/2) 0; }

h6 {
  margin: 0; }

button, a {
  font-size: 1.1rem;
  font-family: 'lato'; }

html {
  font-size: 14px;
  line-height: 1.8; }

body {
  margin: 0;
  font-family: 'Assistant';
  font-weight: 300; }

.nav-bar-btn:hover {
  color: #00B8D4;
  transition: all 400ms; }

.main-header {
  display: block;
  width: 100vw;
  font-size: 2.37rem;
  font-family: 'lato';
  margin-top: 8vh;
  max-width: 960px;
  text-align: center;
  color: #0097a7; }

.docs-jumbotron {
  margin-top: 8vh;
  width: 100vw;
  max-width: 960px;
  display: block;
  text-align: center; }
  .docs-jumbotron > img {
    height: 13rem;
    filter: brightness(0.75) contrast(2); }

.main-subtitle {
  margin-top: 6vh;
  margin-bottom: 2vh;
  font-weight: 500;
  font-size: 1.78rem;
  display: block;
  width: 100vw;
  max-width: 960px;
  text-align: center; }

.button-container {
  margin-top: 6vh;
  width: 96vw;
  max-width: 960px;
  display: block;
  text-align: center; }
  .button-container > a {
    min-width: 170px;
    margin: 0 2vw;
    color: white;
    display: inline-block;
    padding: calc(1.1rem/2);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.1rem; }
    .button-container > a:hover {
      color: #2dc6e2; }
  .button-container > a.disabled:hover {
    opacity: 0.5;
    color: #fff; }

.modules-container {
  padding-left: 3.16rem; }

.main-footer {
  margin-top: 6vh;
  background: #F7F7F7;
  width: 100vw;
  position: relative;
  left: -18vw;
  top: 5vh;
  height: 17vh; }

.reference-links {
  display: block; }

.left-hand-bar {
  background: #00838f;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
  width: 25vw;
  max-width: 317px;
  padding-top: calc(1.5em + 76px); }
  .left-hand-bar > ul > li {
    border: none; }
    .left-hand-bar > ul > li > a {
      text-align: left;
      border-bottom: 1px solid;
      border-color: #00838f;
      transition: border-color 500ms;
      opacity: 1;
      padding: 0.5vw;
      color: #fff;
      opacity: 0.9; }
      .left-hand-bar > ul > li > a:hover {
        border-color: #00bcd4;
        transition: border-color 300ms; }
  .left-hand-bar .modules-item {
    text-align: left;
    margin: 0;
    list-style-type: disc;
    color: white; }
    .left-hand-bar .modules-item > a {
      padding: 0.4rem;
      margin: 0.4rem;
      text-align: left;
      color: white;
      text-decoration: none;
      border-bottom: 1px solid;
      border-color: #00838f;
      transition: border-color 500ms; }
      .left-hand-bar .modules-item > a:hover {
        border-color: #00bcd4;
        transition: border-color 300ms; }
