$color: pink;
@import url('https://fonts.googleapis.com/css?family=Assistant:100,300,400,500,700');
@import url('https://fonts.googleapis.com/css?family=Lato:100,400');

$h1: 3.16rem;
$h2: 2.37rem;
$h3: 1.78rem;
$h4: 1.33rem;
$p:  1.2rem;
$btn: 1.1rem;
//$h4:

//@import 'logo-anim';

#container {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 1;
  z-index: -1;
}
@mixin borderRadius ($radius: 5px) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}
p{
  font-size: $p;
}
h1 {
  font-size: $h1;
  margin-bottom: calc(#{$h1}/1);
}
h2 {
  font-size: $h2;
  margin-bottom: calc(#{$h2}/1);
}
h3 {
  font-size: $h3;
  margin-bottom: calc(#{$h3}/1);
}
h4 {
  font-size: $h4;
  margin: calc(#{$h4}/2) 0;
}
h6 {
  margin: 0;
}
button, a {
  font-size: $btn;
  font-family: 'lato';
}
html {
  font-size: 14px;
  line-height: 1.8;
}
//.nav-bar-btn {
//  color: white;
//  text-transform: uppercase;
//  font-weight: 700;
//  background: red;
//  font-size: 11px;
//  font-family: 'Lato';
//  text-decoration: none;
//  padding: 0.75vh 1.25vw;
//  border-radius: 3px;
//  & > span {
//  }
//}
body {
  margin:0;
  font-family: 'Assistant';
  font-weight: 300;
}
.nav-bar-btn:hover {
  color: #00B8D4;
  transition: all 400ms;
}

.main-header {
  display: block;
  width: 100vw;
  font-size: $h2;
  font-family: 'lato';
  margin-top: 8vh;
  max-width: 960px;
  text-align: center;
  color: #0097a7;
}
.docs-jumbotron {
  margin-top: 8vh;
  width: 100vw;
  max-width: 960px;
  display: block;
  text-align: center;
  & > img {
    height: 13rem;
    filter: brightness(0.75) contrast(2);
  }
}
.main-subtitle {
  margin-top: 6vh;
  margin-bottom: 2vh;
  font-weight: 500;
  font-size: $h3;
  display: block;
  width: 100vw;
  max-width: 960px;
  text-align: center;
}
.button-container {
  margin-top: 6vh;
  width: 96vw;
  max-width: 960px;
  display: block;
  text-align: center;
  & > a {
    min-width: 170px;
    margin: 0 2vw;
    color: white;
    display: inline-block;
    padding: calc(#{$btn}/2);
    border-radius: 4px;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: $btn;
    &:hover {
      color: #2dc6e2;
    }
  }
  & > a.disabled {
    &:hover {
      opacity:0.5;
      color: #fff;
    }
  }
}
.modules-container {
  padding-left: $h1;
}
.main-footer {
  margin-top: 6vh;
  background: #F7F7F7;
  width: 100vw;
  position: relative;
  left: -18vw;
  top: 5vh;
  height: 17vh;
}
.reference-links {
  display: block;
}
.markdown {
  //background: #f4e9f2;
}
.left-hand-bar {
  background: #00838f;
  position: fixed;
  left: 0;
  top: 0;
  height: 100vh;
  overflow: auto;
  width: 25vw;
  max-width:317px;
  padding-top: calc(1.5em + 76px);
  & > ul {
    & > li {
      border: none;
      & > a {
        text-align: left;
        border-bottom: 1px solid;
        border-color: #00838f;
        transition: border-color 500ms;
        opacity: 1;
        padding: 0.5vw;
        color: #fff;
        opacity: 0.9;
        &:hover {
          border-color: #00bcd4;
          transition: border-color 300ms;
        }
      }
    }
  }
  & .modules-item {
    text-align: left;
    margin: 0;
    list-style-type: disc;
    color: white;
    & > a {
      padding: 0.4rem;
      margin: 0.4rem;
      text-align: left;
      color: white;
      text-decoration: none;
      border-bottom: 1px solid;
      border-color: #00838f;
      transition: border-color 500ms;

      &:hover {
        border-color: #00bcd4;
        transition: border-color 300ms;
      }
    }
  }
}
